---
import BackToTop from "@/lib/components/BackToTop.astro";
import ThemeToggler from "@pages/_components/ThemeToggler.astro";
import { website } from "@/pages/seo";

// type Props = {

// }

// const {} = Astro.props
---

<footer
  class="flex flex-col items-center lg:flex-row justify-center text-center lg:text-start lg:justify-between lg:*:justify-between pb-20 pt-10 lg:pb-10 gap-y-6 *:gap-y-6 gap-x-20 lg:*:gap-x-20"
>
  <p class="text-sm text-gray-500">
    &copy; {new Date().getFullYear()}
    {website.email}. All rights reserved.
  </p>

  <div
    class="flex flex-col-reverse lg:flex-row flex-wrap-reverse justify-center items-center"
  >
    <ThemeToggler />
    <BackToTop classList="w-full lg:w-fit" />
  </div>
</footer>
