---
type Props = {
  class?: string;
};

const props = Astro.props;
---

<section
  id="introduction"
  class={`bg-none backdrop-blur-md bg-zinc-100/30 border-b text-center pt-14 pb-3 sticky top-[-45%] z-10 ${props.class}`}
>
  <div class="flex flex-col items-center text-center reveal-opacity">
    <div class="flex flex-col items-center gap-y-4 mb-2 px-4">
      <img
        src="/nano/patric.webp"
        alt=""
        width="120"
        height="120"
        class="border bg-zinc-100"
      />

      <h1 class="text-2xl sm:text-3xl font-bold uppercase text-black-900">
        Oghenetefa Okotete
      </h1>
    </div>

    <nav class="py-2.5 w-full flex-wrap">
      <ul
        class="flex flex-wrap justify-center gap-x-3 gap-y-1 text-sm text-black-600 marker:size-2 market:bg-black"
      >
        {
          [
            { label: "Experiences", url: "/#experiences" },
            { label: "Projects", url: "/#highlights" },
            // { label: "Hire Top Talent", url: "/#services" },
            { label: "Work with me", url: "/#collaborate" },
          ].map((item) => {
            return (
              <li>
                <a
                  href={item.url}
                  class="block px-2.5 py-1.5 hover:text-blue-600 underline underline-offset-4"
                >
                  {item.label}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</section>
