---
import Sidebar from "./Sidebar.astro";
import Main from "./Main.astro";
import Introduction from "./Introduction.astro";
---

<div class="lg:grid lg:grid-cols-[22vw_1fr] lg:relative">
  <Sidebar
    class="hidden lg:block border-r border-r-zinc-300 border-dashed h-screen sticky top-0"
  />
  <Main>
    <Introduction class="lg:hidden" />
    <slot />
  </Main>
</div>
