---
import { Github, Linkedin, Mail } from "lucide-astro";
import { website, socialLinks } from "../seo";

type Props = {
  class?: string;
};

const props = Astro.props;
---

<aside class={props.class}>
  <div class="*:first:pt-10 *:last:pb-10 flex flex-col h-full overflow-y-auto">
    <div class="px-8">
      <figure class="mb-4">
        <img
          src="/patrick.webp"
          alt=""
          width="60"
          height="60"
          class="rounded-xl border object-cover"
        />
      </figure>

      <h2 class="text-xl font-medium">Oghenetefa Okotete</h2>
      <h5 class="text-base ps-1">Full Stack Developer</h5>
    </div>

    <nav class="px-8 mt-auto flex flex-col gap-1 text-lg pt-20 pb-10">
      <a class="hover:underline p-1.5" href="/#summary">Home</a>
      <a class="hover:underline p-1.5" href="/#highlights">Highlights</a>
      <a class="hover:underline p-1.5" href="/#experiences">Experiences</a>
      <!-- <a class="hover:underline p-1.5" href="/contact">Hire a Top Talent</a> -->
      <a class="hover:underline p-1.5" href="/#collaborate">Work with me</a>
      <!-- <a class="hover:underline p-1.5" href="/blog">Blog</a> -->
    </nav>

    <div class="px-8 flex gap-4 text-sm reveal-opacity">
      <a class="px-1.5 py-3 hover:underline" href=`mailto:${website.email}`
        ><Mail class="stroke-zinc-700" /></a
      >
      <a class="px-1.5 py-3 hover:underline" href={socialLinks.github.href}
        ><Github class="stroke-zinc-700" /></a
      >
      <a class="px-1.5 py-3 hover:underline" href={socialLinks.linkedin.href}
        ><Linkedin class="stroke-zinc-700" /></a
      >
    </div>
  </div>
</aside>
