---
import { Button } from "@lib/components/ui/button";
import { ExternalLink, Github, Linkedin, Mail } from "lucide-astro";
import { socialLinks, website } from "../seo";
---

<section id="summary" class="pt-14 pb-10">
  <div class="max-w-fit sm:max-w-none sm:mx-auto">
    <p
      class="w-full max-w-[46ch] lg:mx-auto text-lg sm:text-xl sm:text-center lg:text-2xl text-black-900 mb-4 !leading-[1.54]"
    >
      Hii! I'm <span class="mastermind_jumpscare">Tefa</span>, a passionate
      Front-end developer with 3+ years of experience building full-stack web
      applications across modern JavaScript frameworks and backend technologies
      to deliver efficient, user-focused products.
    </p>

    <div class="flex gap-x-6 items-center sm:justify-center">
      {
        [
          { Icon: Mail, href: `https://mailto:${website.email}` },
          { Icon: Github, href: socialLinks.github.href },
          { Icon: Linkedin, href: socialLinks.linkedin.href },
        ].map((item) => {
          return (
            <a
              class="size-10 rounded-full border  border-zinc-200 grid place-content-center text-xs"
              href={item.href}
              target="_blank"
              rel="noopener noreferrer"
              title={item.href.replace("https://", "").split(".")[0]}
            >
              <item.Icon class="size-5 stroke-zinc-700" />
            </a>
          );
        })
      }
    </div>

    <Button
      variant="link"
      className="px-0 flex mt-4 text-base sm:mx-auto text-blue-600"
    >
      Read more about me
      <ExternalLink />
    </Button>
  </div>
</section>
