---
import RootLayout from "@pages/_RootLayout.astro";
import Summary from "@pages/_components/Summary.astro";
import Highlights from "@pages/_components/Highlights.astro";
import Collaborate from "@pages/_components/Collaborate.astro";
import Footnote from "@pages/_components/Footnote.astro";
import Experiences from "@pages/_components/Experiences.astro";
import MainContainer from "@pages/_components/MainContainer.astro";
import Sidebar from "@pages/_components/Sidebar.astro";
import Main from "@pages/_components/Main.astro";
// import Introduction from "@pages/_components/Introduction.astro";
import MobileNavbar from "./_components/MobileNavbar.astro";
import MobileHero from "./_components/MobileHero.astro";

export const navMenuList = [
  { title: "About", href: "/#summary" },
  { title: "Work", href: "/#experiences" },
  { title: "Portfolio", href: "/#highlights" },
  { title: "Hire", href: "/#collaborate" },
];

export const desktopNavMenuList = [
  { title: "About Moi", href: "/#summary" },
  { title: "Highlights", href: "/#highlights" },
  { title: "Experiences", href: "/#experiences" },
  { title: "Work with me", href: "/#collaborate" },
  // { title: "Blog", href: "/blog" },
];
---

<RootLayout
  title={"Home"}
  description={"This is the personal website of Oghenetefa Okotete, where I share my projects, blog posts, and more."}
>
  <div class="lg:grid lg:grid-cols-[22vw_1fr] lg:relative">
    <Sidebar
      class="hidden lg:block border-r border-r-zinc-300 border-dashed h-screen sticky top-0"
    />

    <Main>
      <MobileNavbar />
      <MobileHero />
      <MainContainer class="animate">
        <Summary />
        <Highlights />
        <Experiences />
        <Collaborate />
        <Footnote />
      </MainContainer>
    </Main>
  </div>
</RootLayout>
